asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
certifi==2021.10.8
chardet==3.0.4
colorama==0.3.7
configparser==3.5.0b2
cryptography==2.6.1
decorator==4.3.0
dnspython==1.16.0
entrypoints==0.3
enum34==1.1.6
gpg==1.12.0
html5lib==1.0.1
idna==2.10
ipaddress==1.0.17
keyring==17.1.1
keyrings.alt==3.1.1
lxml==4.3.2
numpy==1.16.2
pathlib2==2.3.3
psutil==5.5.1
pycairo==1.16.2
pycrypto==2.6.1
pyflakes==2.0.0
PyGObject==3.30.4
pysmbc==1.0.15.6
pyxdg==0.25
requests==2.27.1
scandir==1.9.0
scour==0.37
SecretStorage==2.3.1
six==1.12.0
soupsieve==1.8
urllib3==1.26.8
vboxapi==1.0
webencodings==0.5.1
